<div>
<br>
<h2>DISCLAIMER</h2>
<br>
This site is a fork from <a href="https://github.com/yforku/template/">this template by yforku</a>. 
It is meant to be forked and everyone's pages will look more less the same
unless somebody is <b>bold</b> enough to use a different theme altogether (which I can't blame them for wanting some variety).
I also have <b>removed</b> google analytic since I don't want google's spying to touch on my project. 
<br><br><br>
<hr>
<div>
&copy; {{ site.copyright }} --- {{ site.author }} --- 
{% for ii in site.navbarlinks %}    
  {% if ii.navbar == "About" %}
    <a href="{{ ii.link | relative_url }}">{{ ii.navbar }}</a> ---
  {% endif %}
{% endfor %}
Revision: {{ site.version }}.
</div>
</div>
